@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody id="tableBody">
	</tbody>
</table>

@section Scripts{

	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	@*<script src="~/js/chat.js"></script>*@

	<script>

		$(() => {

			let connection =
				new signalR.HubConnectionBuilder()
					.withUrl("/signalServer")
					.build()
				;

			connection.start();

			connection.on("RefreshEmployees", function () {
				loadData();
			});

			connection.on("ReciveNotify", function (str) {
				alert(str);
			});

			loadData();

			function loadData() {
				var tr = '';

				$.ajax({
					url: '/Home/GetEmployees',
					method: 'GET',
					success: (result) => {
						$.each(result, (k, v) => {
							tr = tr +
								`<tr>
									<td>${v.id}</td>
									<td>${v.name}</td>
									<td>${v.age}</td>
								</tr>`
								;
						});

						$("#tableBody").html(tr);
					},
					error: (error) => {
						console.log(error);
					}
				});
			}

		});

	</script>
}

<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-2">User</div>
		<div class="col-4"><input type="text" id="userInput" /></div>
	</div>
	<div class="row">
		<div class="col-2">Message</div>
		<div class="col-4"><input type="text" id="messageInput" /></div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-6">
			<input type="button" id="sendButton" value="Send Message" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-6">
		<ul id="messagesList"></ul>
	</div>
</div>