@{
	ViewData["Title"] = "LiveData";
}

<div class="container" dir="rtl">
	<div class="row">
		<div class="card text-center">
			<div class="card-header"><h1>قیمت زنده دلار و سکه</h1></div>
			<div class="card-body">
				<div class="d-flex justify-content-center align-items-center align-content-center my-2">
					<ul class="list-group pr-0">
						<li class="list-group-item list-group-item-action"> سکه </li>
						<li class="list-group-item list-group-item-action"> 40,100,000 </li>
					</ul>
					<ul class="list-group pr-0">
						<li class="list-group-item list-group-item-action"> سکه </li>
						<li class="list-group-item list-group-item-action"> 40,100,000 </li>
					</ul>
				</div>
			</div>
			<div class="card-footer"><h1>قیمت زنده دلار و سکه</h1></div>
		</div>
	</div>
</div>

@section Scripts{

<script src="~/lib/signalr/dist/browser/signalr.js"></script>



}