@{
	ViewData["Title"] = "LiveData";
}


	<div class="container">
		<div class="row">
			<div class="card">
				<div class="card-header"><h1>قیمت زنده دلار و سکه</h1></div>
				<div class="card-body"></div>
				<div class="card-footer"></div>
			</div>
		</div>
	</div>

@section Scripts{

	<script src="~/lib/signalr/dist/browser/signalr.js"></script>



}