@{
	ViewData["Title"] = "LiveData";
}

<div class="container">
	<div class="row">
		<div class="card text-center">
			<div class="card-header"><h1>قیمت زنده دلار و سکه</h1></div>
			<div class="card-body">
				<div class="col">
					<ul>
						<li> سکه </li>
						<li> 40,100,000 </li>
					</ul>
				</div>
				<div class="col">
					<ul>
						<li> دلار </li>
						<li> 118,890 </li>
					</ul>
				</div>
				<div class="col">
					<ul>
						<li> سکه </li>
						<li> 40,100,000 </li>
					</ul>
				</div>
				<div class="col">
					<ul>
						<li> دلار </li>
						<li> 118,890 </li>
					</ul>
				</div>
				<div class="col">
					<ul>
						<li> سکه </li>
						<li> 40,100,000 </li>
					</ul>
				</div>
				<div class="col">
					<ul>
						<li> دلار </li>
						<li> 118,890 </li>
					</ul>
				</div>
			</div>
			<div class="card-footer"><h1>قیمت زنده دلار و سکه</h1></div>
		</div>
	</div>
</div>

@section Scripts{

<script src="~/lib/signalr/dist/browser/signalr.js"></script>



}